/* Estilos relacionados à navegação */
.navbar {
    background-color: #7C4241;
    border-color: white;
}

.custom-bg {
    background: linear-gradient(to right, #7C4241, #FE8282);
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
   
    
}

.nav-link:hover, .nav-link:focus {
    color: #FDF7F7;
    background-color: #FE8282;
}

/* Estilos relacionados ao corpo do documento */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FDF7F7;
}

/* Outros estilos */
.container {
    max-width: 1200px;
    margin-top: 80px;
}

.featured-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item img {
    width: 100%;
    height: auto;
    display: block;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .product-item {
        flex: 1 1 100%;
    }
}

/* Estilos do rodapé */
footer {
    background-color: #7C4241;
    color: white;
    padding: 2rem 0;
}

footer .social-icons a {
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #FE8282;
}

.contact-info {
    margin-top: 2rem;
}

.map iframe {
    width: 100%;
    border: none;
}
